spring.application.name=telco_backend
server.port=8080
server.servlet.context-path=/api/v1
spring.datasource.url=jdbc:postgresql://localhost:5432/telcoBD
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

#Configuration for JPA
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

jwt.secret=TU_CLAVE_SECRETA
jwt.expiration=86400000

logging.level.org.springframework.security=DEBUG